#abc
{
background-color:#b7d3e3;
}
p
{
color:black;
font-size:100px;
}
#def
{
height:50px;
width:150px;
font-size:30px;
float:right;
}
#bodyE
{
background-color:#fc7279;
color:black;
}
strong
{
padding-left:20px;
font-size:40px;
color:black;
}
.cool {
border: 2px solid black;
height:200px;
width:1350px;
background-color: #b7d3e3;
}
#hot {
background-color: #3bf7d1;
border:2px solid black;
height:400px;
width:1350px;
}
input
{
float:right;
}
#jk
{
float:left;
}
#empinfo
{
background-color:#ff7b9c;
color:#3b2242;
font-size:40px;
}
#xyz
{
background-color:#fff9c5;
}